body {
  margin: 1rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

ul {
  /* background-color: red; */
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  font-size: 1.8rem;

  list-style: none;

  gap: 1.5rem;
}
a {
  text-decoration: none;
  font-weight: 400;
}
.link {
  font-weight: bolder;
  color: #0a1d56;
}

.active {
  background-color: #0a1d56;
  padding: 1rem;
  border-radius: 0.8rem;
  color: white;
}

.herologo {
  height: 5rem;
}

@media (max-width: 55em) {
  header,
  .secondheader {
    /* position: absolute;
        z-index: 1; */
    display: none;

    /* justify-content: space-between; */
    /* align-items: center; */
    /* height: 7rem; */
  }

  /* .secondheader{
        height: 100vh;
        display: flex;
        flex-direction: row;
      }
       */
  /* body{
    font-size: 2rem
  } */

  .mobileheader {
    display: flex;
    flex-direction: column;
  }
  .secondheader {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    /* z-index: 2; */
    /* top: 1; */
  }
}
